@using FlatoutCMS_Starter.Models;
@model PageModel
@inject FlatoutCMS.Core.PageRepository pageRepository
@{
    ViewData["Title"] = Model.Title;
}

<div class="text-center">
    @Html.Raw(Model.Content)
</div>

<a href="/">Back</a>